<section class="menu wrapper">
    <nav>
        <ul>
            <li>
                <a ui-sref="main.login">login</a>
            </li>
            <li>
                <a ui-sref="main.projects">Projects</a>
            </li>
            <li>
                <a ui-sref="main.about">About</a>
            </li>
            <li>
                <a ui-sref="main.comments">Comments</a>
            </li>
            <li>
                <a ui-sref="main.tracktime">Track the time</a>
            </li>
        </ul>
    </nav>

</section>

<ui-view name="mainContent"></ui-view>